body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}


/* Navigation Section */

hr.top-nav-line {
    height: 10px;
    padding: 0;
    margin: 0;

    background-color: #D96941;
    opacity: .75;  
}

hr.bottom-nav-line {
    height: 10px;
    padding: 0;
    margin: 0;

    background-color: #A62B1F;
    opacity: .95;
}

.logo{
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 50px;
    color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}

.navitems {
    color: black;
    font-size: 1.2rem;
}

.navitems:hover {
    color: #E84610;
}

/* Welcome Section */

#heros-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image1.jpg) no-repeat center bottom;
}

#heros-style {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: .95;
    background-color: #D96941;
}

#cover-text, #cover-text h4 {
    background-color: transparent;
}
#cover-text, #cover-text p {
    background-color: transparent;
    color: #fafafa;
    text-align: center;
    font-size: 1rem;
}

#cover-text {
    letter-spacing: 2px;

    background-color: rgba(166, 43, 31, 0.6);
    
    padding: 20px;
    width: 75%;
    bottom: 35px;

    position: absolute;
}

/* Reasons to Join us Section */

.title-reasons {
    text-align: center;
    padding: 15px;
}

.card-reason {
    border: none;
    background-color: transparent;
}

.card-title-style {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

hr.line-break {
    height: 10px;
    margin-top: 25px;
    background-color: #D96941;
}

/* Recipes Paginated List */

.title-inspiration {
    text-align: center;
    padding: 15px;
}

.image-container {
    position: relative;
}

.image-tag {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: rgba(166, 43, 31, 0.6);
}

.author {
    color: #fafafa;
    margin: 4px;
    text-transform: uppercase;
    background-color: transparent;
}

.page-link {
    text-decoration: none;
    color: #445261;
}

.page-link:hover {
    color: #E84610;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover {
    color: #E84610;
}

/* Footer Section */

.footer-dark-bg {
    background-color: rgba(166, 43, 31, 0.70);
}

.footer-light-bg {
    background-color: #fafafa;
}

.social-link {
    color: black;
}

/* Recipe Details View */

.recipe-head {
    margin-top: 25px;
    padding: 5px;
}

.recipe-head-image {
    height: 300px;
    overflow: hidden;
}
.recipe-description{
    margin-bottom: 20px;
}

.recipe-comments {
    margin: 20px 0px 20px;
}
