{% extends "base.html" %}

{% block content %}

<!-- Welcome message & heros image -->
<section id="heros-style">
    <div id="heros-image"></div>
    <div class="container-fluid">
        <div id="cover-text">
            <h4>Welcome to Eating From Home!!</h4>
            <p>
                Our mission is to provide you with quick and easy home cooking  meal ideas that fit into your busy lifestyle. 
                Say goodbye to bland takeout and hello to a more satisfying lunch break!
            </p>
        </div>
    </div>
</section>

<!-- Reasons to join section -->
<div class="container">
    <h1 class="title-reasons">Reasons to Join Us</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-reason" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title card-title-style">Healthy Habits <i class="fa fa-heart"></i></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="card card-reason" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title card-title-style">Inspiration <i class="fas fa-utensils"></i></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="card card-reason" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title card-title-style">Save Time <i class="fas fa-clock"></i></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="card card-reason" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title card-title-style">Community <i class="fas fa-comments"></i></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>            
        </div>
        
    </div>
</div>
<hr class="line-break">
{%endblock%}