{% extends 'base.html' %} {% block content %}

<!-- Recipe details Head -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3 recipe-head">
                <div class="recipe-head-image">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img src="https://res.cloudinary.com/ddhtujg2s/image/upload/v1680803324/cld-sample-4.jpg" width="100%">
                    {% else %}
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="placeholder image">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text"><span><i class="fas fa-clock"></i></span><span>Prep Time: {{ recipe.prep_time }}min.</span></p>
                    <p class="card-text"><span><i class="fas fa-clock"></i></span><span>Cook Time: {{ recipe.cooking_time }}min.</span></p>
                    <p class="card-text"><small class="text-body-secondary"><span>Chef: {{ recipe.author }}</span></small></p>
                    <p class="card-text"><small class="text-body-secondary"><span>Created: {{ recipe.created_on }}</span></small></p>
                    <!-- Likes and Comments counter -->
                    <p class="card-text d-inline">
                        <small class="text-body-secondary">
                            <strong class="text-secondary">
                                <i class="far fa-heart"></i>
                                {{ recipe.likes }}
                            </strong>
                        </small>
                    </p>
                    <p class="card-text d-inline">
                        <small class="text-body-secondary">
                        {% with comments.count as total_comments %}
                            <strong class="text-secondary">
                                <i class="far fa-comments"></i>
                                {{ total_comments }}
                            </strong>
                        {% endwith %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}