{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<!-- Recipe details Head -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3 recipe-head">
                <div class="recipe-head-image">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img src="https://res.cloudinary.com/ddhtujg2s/image/upload/v1680803324/cld-sample-4.jpg" width="100%">
                    {% else %}
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="placeholder image">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text"><span><i class="fas fa-clock"></i></span><span>Prep Time: {{ recipe.prep_time }}min.</span></p>
                    <p class="card-text"><span><i class="fas fa-clock"></i></span><span>Cook Time: {{ recipe.cooking_time }}min.</span></p>
                    <p class="card-text"><small class="text-body-secondary"><span>Chef: {{ recipe.author }}</span></small></p>
                    <p class="card-text"><small class="text-body-secondary"><span>Created: {{ recipe.created_on }}</span></small></p>
                    <!-- Likes and Comments counter -->
                    <strong class="text-body-secondary">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}

                            <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like"><i 
                                    class="fas fa-heart"></i></button>

                            {% else %}

                            <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like"><i 
                                    class="far fa-heart"></i></button>
                        
                            {% endif %}
                        </form>
                        {% else %}

                        <span class="text-secondary"><i class="far fa-heart"></i></span>                            
                        {% endif %}
                        <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                    </strong>
                        <strong class="text-body-secondary">
                        {% with comments.count as total_comments %}
                            <span class="text-secondary"><i class="far fa-comments"></i></span>
                            <span class="text-secondary">{{ total_comments }}</span>
                        {% endwith %}
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recipe description -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card recipe-description">
                <h5 class="card-header"><span>Description</span></h5>
                <div class="card-body">
                <p class="card-text"><span>{{ recipe.description }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recipe igredients -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ingredients</h5>
                    <p class="card-text"><span>{{ recipe.ingredients }}</span></p>
                </div>
            </div>
        </div>
        <!-- Recipe method -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Method</h5>
                    <p class="card-text"><span>{{ recipe.method }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
        
<!-- Comments Section -->
{% if comments %}
<div class="container">
    <div class="row">
        <div class="col recipe-comments">
            <div class="card">
                <h3 class="card-header">Comments</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div>
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                        </p>
                        {{ comment.body | linebreaks }}
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success">
                    Your comment is awaiting approval!
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-auth btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}